<div class="container-edit">

  <div class="container">
    <div class="container-header">
      <p class="container-title"> Edit The Task</p>
    </div>
      <form class="container-body" [formGroup]="editForm" (ngSubmit)="handleEditTask(taskToEdit.id)">
      <div class="item-body">
          <label class="label-item">description</label>
          <input formControlName="description" class="input-text-item" type="Text" [value]="taskToEdit!.description">
        </div>

        <div class="item-body">
          <label class="label-item">Done ? </label>
          <input  formControlName="state" class="input-check-box-item" type="checkbox" [value]="!taskToEdit!.state" >
        </div>

        <div class="item-body">
          <div class="button-container">
            <button class="edit-button"  type="submit">Edit</button>
          </div>
        </div>
      </form>
    <i  (click)="handleExitEditATask()" class=" exit-edit bi bi-x-circle-fill"></i>

  </div>



</div>



